.card-body,.card-header-data{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    column-gap: 10px;
    row-gap: 10px;
}
.btn{
    width:70%;
    text-align: center;
    line-height: normal;
    white-space: normal;
    font-size: small;
    font-weight: bolder;
}
@media (max-width:500px){
    .card{
        width:min-content;
    }
}

