<nav class="navbar fixed-top navbar-expand-sm navbar-light bg-info">
  <button type="button" data-toggle="collapse" data-target="#navbarId" class="navbar-toggler" aria-controls="navbarId"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarId">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a href="#" routerLink="/about" class="nav-link h5">About</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="#" routerLink="/country" class="nav-link h5 ">Country</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="#" routerLink="/countryCodes" class="nav-link h5">CountriesCode</a>
      </li>
    </ul>
  </div>
  <div class="profile h5">Hi {{userName}}</div>
</nav>
<router-outlet></router-outlet>

<div class="modal" style="display:block;" *ngIf="showModel && userName==undefined" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="alertdialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">What we need to call you</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" (click)="hideModel()">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control" [formControl]="user" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="hideModel()">Okay</button>
      </div>
    </div>
  </div>
</div>

