<div class="p-2" style="margin-top:4rem">
    <div class="card bg-secondary">
      <div class="card-header h3">
        Know About Countries !!!
      </div>
      <div class="card-body text-white">
        <div class="ml-1">Know About Countries App provides highlighted Information about Countries...</div>
        <ul class="ml-1">
          <li>Official Name of Country.</li>
          <li>Regional Language of Country.</li>
          <li>Country Code.To check your country code click <a href="#" routerLink="/countryCodes" class="border-bottom">here.</a></li>
          <li>Currencies of Country.</li>
          <li>Telephone Code.</li>
          <li>Capital City.</li>
          <li>Region of Country in the World.</li>
          <li>Sub Region of Country in the World.</li>
          <li>Languages Speaks in the Country.</li>
          <li>Location of Country.</li>
          <li>Borders of Country.</li>
          <li>Area or size of Country.</li>
          <li>National flag of Country.</li>
          <li>Population of Country.</li>
          <li>Gini Ratio.
            <small>(It measures distribution of income across population. higher Gini indicates greater inequality, with high-income individuals receiving much larger % of population's total income.)</small>
          </li>
          <li>Time Zone & Continent.</li>
          <li>Coat of Arms Image.</li>
          <li>Country's Week Start</li>
          <li>Click <a routerLink="/country" class="border-bottom">here</a> to search</li>
        </ul>
      </div>
    </div>
  </div>
